<%if flash.has?(:message)%>
<%=flash[:message]%>
<%end%>

<h1> <%=@patient.name%> </h1>
DOB: <%=@patient.dob%><br><br>
SSN:       <%=@patient.ssn%> <br><br>
Insurance: <%=@patient.insurance%>  <br><br>
Status:  <%=@patient.status%><br><br>
Schedule: <%=@patient.schedule%><br><br>


<a href="/patients/<%= @patient.slug %>/edit">Edit </a><br>
<a href="/patients">See All Patients </a><br>
