<%if flash.has?(:message)%>
<%=flash[:message]%>
<%end%>

<h1> <%=@patient.name%> </h1>
SSN:       <%=@patient.ssn%> <br>
Insurance: <%=@patient.insurance%>  <br>
<a href="/patients/<%= @patient.slug %>/edit">Edit </a><br>
<a href="/patients">See All Patients </a><br>
