<%if flash.has?(:message)%>
<%=flash[:message]%>
<%end%>

<h1> <%=@patient.name%> </h1>
<table>
  <tr>
    <td>DOB:</td> <td><%=@patient.dob%></td>
  </tr>
  <tr>
    <td>SSN:</td><td><%=@patient.ssn%> </td>
  </tr>
  <tr>
    <td>Insurance:</td><td><%=@patient.insurance%></td>
  </tr>
  <tr>
    <td>Status:</td><td>  <%=@patient.status%></td>
  </tr>
  <tr>
    <td>Schedule:</td><td><%=@patient.schedule%></td>
  </tr>
</table>
<br><br>

<table>
  <tr>
    <td><a href="/patients/<%= @patient.slug %>/edit">Edit </a></td>
    <td></td>
    <td><a href="/patients">See All Patients </a></td>
    <td></td>
    <td><a href="/patients/<%= @patient.slug %>/delete">Delete </a></td>
  </tr>
</table>
